.bg-cover{
    background-image: url("../images/login-background.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
}
.center-me{
    display : flex;
    justify-content: center;
    padding: 40px;
}
.form-signin{
    padding: 20px;
    text-align:center;
}
input{
    margin-bottom: 10px;
}